@model KerryDPeay_Blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<head>
    <style>

        #scale {
            background: url(https://static.vecteezy.com/system/resources/previews/000/122/941/non_2x/sunburst-grunge-background-vector.jpg);
            background-repeat: no-repeat;
            background-size: 1800px 1600px;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .container {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>
</head>

<h1><u>@Model.Title</u></h1>

<h3>@Model.Abstract</h3>

@if (Model.MediaURL != null)
{
    <img class="img-responsive" src="@Model.MediaURL" alt="image">
}

<!--<h2>Details</h2>-->

<body id="scale">


    @if (User.IsInRole("Admin"))
    {
        <!--Navbar-->
    <ul>
        <li><a class="active" href="@Url.Action("Index", "BlogPosts")">Home</a></li>
        <li><a href="@Url.Action("LogOff", "Account")">Logout</a></li>
        <li><a href="@Url.Action("Contact", "Home")">Contact Me</a></li>
        <li><a href=@Url.Action("AllPosts", "BlogPosts")>All Posts</a></li>
        <li><a href=@Url.Action("Create", "BlogPosts")>Create Post</a></li>
    </ul>
    }

    @if ((User.Identity.IsAuthenticated) && !(User.IsInRole("Admin")))
    {
        <!--Navbar-->
<ul>
    <li><a class="active" href="@Url.Action("Index", "BlogPosts")">Home</a></li>
    <li><a href="@Url.Action("LogOff", "Account")">Logout</a></li>
    <li><a href="@Url.Action("Contact", "Home")">Contact Me</a></li>
    <li><a href=@Url.Action("AllPosts", "BlogPosts")>All Posts</a></li>
</ul>
    }

    @if (!(User.Identity.IsAuthenticated))
    {
        <!--Navbar-->

<ul>
    <li><a class="active" href="@Url.Action("Index", "BlogPosts")">Home</a></li>
    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
    <li><a href="@Url.Action("Contact", "Home")">Contact Me</a></li>
    <li><a href=@Url.Action("AllPosts", "BlogPosts")>All Posts</a></li>
</ul>
    }


    <div>
        <!--<h4>BlogPost</h4>-->
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.Raw(Model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MediaURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MediaURL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Published)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Published)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Create)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Create)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Update)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Update)
            </dd>
        </dl>
    </div>
</body>


<p class="text-center">

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <img src="https://static.thenounproject.com/png/8975-200.png" style="width:20px; height:20px" />
    }

    <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</p>





@*Conditionally render the Add Comment form*@
@if (User.Identity.IsAuthenticated)
{
    @*Create a form to collect the Comment from the logged in user*@
    using (Html.BeginForm("Create", "Comments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Slug)
        @Html.Hidden("BlogPostId", Model.Id)
        <textarea name="CommentBody" placeholder="Add Comment..."></textarea>

        <button class="btn btn-primary" type="submit">Add</button>
    }

}


@*Displaying the comments associated with the BlogPost*@

<hr />

<div class="row">
    <div class="col-md-12 text-center h3">
        Comment Section
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center h4">
        @{
            var count = Model.Comments.Count();
            var word = count == 1 ? "comment" : "comments";
        }
        (@count @word...)
    </div>
</div>

<br />

@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
{
    <hr />
    <div class="row">
        Posted by @comment.Author.Email on @comment.Created.ToString("MMMM d, yyyy")
    </div>

    if (User.IsInRole("Admin"))
    {
        if (@comment.UpdateReason != null)
        {
            <div class="row">
                @comment.UpdateReason
            </div>
        }
    }


    <div class="row">
        <div class="col-md-12">
            @comment.Body
        </div>
    </div>

    <hr />

    if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("Edit", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Slug)
            @Html.HiddenFor(model => comment.Id)
            @Html.HiddenFor(model => comment.AuthorId)
            @Html.HiddenFor(model => comment.Created)
            @Html.HiddenFor(model => comment.BlogPostId)
            @Html.HiddenFor(model => comment.UpdateReason)
            <textarea name="commentBody">@comment.Body</textarea>
            <textarea name="commentUR">@comment.UpdateReason</textarea>
            <button class="btn btn-primary" type="submit">Edit</button>
        }

        using (Html.BeginForm("Delete", "Comments", new { id = comment.Id }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger" />
        }

    }

}

