@model KerryDPeay_Blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

    <style>

        #scale {
            background: url(https://img.freepik.com/vrije-vector/blauwe-abstracte-acryl-penseelstreek-gestructureerde-achtergrond_53876-86373.jpg?size=626&ext=jpg);
            background-repeat: no-repeat;
            background-size: 2000px 2000px;
        }
    </style>

<h1><u>@Model.Title</u></h1>

<h3>@Model.Abstract</h3>

<!--<h2>Details</h2>-->

<body id="scale"><div>
    <!--<h4>BlogPost</h4>-->
    <hr />
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update)
        </dd>
    </dl>
</div></body>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <img src="https://static.thenounproject.com/png/8975-200.png" style="width:20px; height:20px" /> |
    <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</p>
