@model IEnumerable<KerryDPeay_Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<style>

  #scale {
  background: url(https://img.freepik.com/vrije-vector/blauwe-abstracte-acryl-penseelstreek-gestructureerde-achtergrond_53876-86373.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: 2000px 2000px ;
}

</style>

<h1 class="text-center">Kerry Peay's Blog</h1>

<br />
<br />

<img src="http://www.studentworldonline.com/userfiles/images/courses%20-%20online%20coding%20for%20free.jpg" style="width:400px;height:300px;" align="right"/>
<img src="https://www.wildjasmine.com/images-1/data-management.png" style="width:400px; height:300px;" align="left"/>

<br />
<br />
<br />

<h2 class="text-center"><u>Posts</u></h2>

<br />

<body id="scale">
        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @foreach (var post in Model)
                    {
                        <div class="post-preview">
                            <a href="@Url.Action("Details", "BlogPosts", new { id = post.Id })">
                                <!--<a href="post.html">-->
                                <!--<h2 class="post-title"> @post.Title </h2>-->
                                <h3 class="post-subtitle">
                                    @post.Abstract
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#">Kerry Peay's Blog</a>
                                on September 24, 2017
                            </p>

                            @Html.ActionLink("Edit", "Edit", new { id = post.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = post.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                        </div>
                        <hr>
                    }
                    <!-- Pager -->
                    <div class="clearfix">
                        <!--<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <!--<script src="vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <!--<script src="js/clean-blog.min.js"></script>-->
        <link href="~/Scripts/clean-blog.min.css" rel="stylesheet" />

    </body>

    <p>
        <button class="btn btn-success">@Html.ActionLink("Create New", "Create")</button>
    </p>

<script>

    /*
             <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="index.html">Kerry Peay's Blog</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="post.html">Sample Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Page Header -->
       
            <div class="overlay"></div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1><font color="black">Kerry Peay's Blog</font></h1>
                            <!--<span class="subheading">A Blog Theme by Start Bootstrap</span>-->
                        </div>
                    </div>
                </div>
            </div>
     */

</script>

